.layout {
  min-height: 100vh;
}

.side_bar {

  margin-left: auto;
  margin-right: auto;

  @media only screen and (min-width: 48em) {
    margin-left: initial;
    margin-right: initial;
  }
}

.posts_content {

  margin-left: 12px;
  margin-right: 12px;
  width: 100%;

  @media only screen and (min-width: 48em) {
    margin-left: initial;
    margin-right: initial;
  }

  a {
    color: #497e60;
  }

  p {
    margin: 0 0 1.3em;
  }
}