.layout {
  min-height: 100vh;
}

.side_bar {
  margin-left: auto;
  margin-right: auto;

  @media only screen and (min-width: 48em) {
    margin-left: initial;
    margin-right: initial;
  }
}

.posts_content {
  text-align: justify;

  margin-bottom: 128px;
  
  margin-left: 12px;
  margin-right: 24px;
  width: 100%;

  @media only screen and (min-width: 48em) {
    margin-left: initial;
    margin-right: initial;
  }

  a {
    color: #497e60;
  }

  p, ol, ul {
    margin: 0 0 1.3em;
  }

  h1 {
    font-size: larger;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 3em;
  }

  ol {
    list-style: decimal inside;
  }

  ul {
    list-style: inside;
  }

  em {
    font-style: italic;
  }

  hr {
    border-bottom: 1px solid #333;
    margin-bottom: 8px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0.5rem;
    margin: 18px 0px;
  }
  th, td {
    border: solid thin #999;
    padding: .5em;
  }
  th {
    color: #479b6b;
    font-weight: 400;
  }

  blockquote {
    margin: 2em 1em;
    border-left: 0.25em solid #666;
    padding-left: 1em;
    font-style: italic;
  }

  figcaption {
    margin: 8px 0;
    font-size: .8em;
    text-align: center;
  }
}