@import '~styles/config';

.post_brief {
  border: 1px solid #e6e6e6;
  box-shadow: 0 10px 10px 0 rgba(50, 128, 122, 0.2);
  border-radius: 5px;
  padding: 24px;
  margin: 12px;
  margin-bottom: 24px;
  opacity: .8;
  transition: 200ms opacity ease-in-out;

  &:hover {
    opacity: 1;
  }

  &::after { // clearfix
    content: "";
    clear: both;
    display: table;
  }

  &.small {
    height: 100%;
  }

  header {
    font-family: $font-heading;
    font-weight: 300;

    a {
      font-weight: 400;
      line-height: 1.5rem;
    }

    &.small {
      a {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  &__meta {
    font-size: .8em;
    display: inline-block;

    svg {
      width: .8em;
    }

    &.small {
      margin-top: 5px;
      display: block;
    }
  }

  &__content {
    margin: 12px 0;
    font-family: $font-family;
    text-align: justify;

    &.small {
      line-height: 24px;
      max-height: 120px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__back_top {
    float: right;
    text-transform: uppercase;
    font-size: 0.8em;

    &.small {
      display: none;
    }
  }
}